.header {
  background-color: var(--cor-principal);
  color: var(--cor-texto-header);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}
.header-content h1 {
  font-size: 1.5rem;
  margin: 0;
}
.header-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-links a,
.header-links button {
  padding: 0 10px;
  text-decoration: none;
  color: var(--cor-texto-header);
  font-weight: 600;
  background: none;
}
.header-links .btn-carrinho {
  background-color: var(--cor-destaque);
  color: var(--cor-principal);
  padding: 8px 12px;
  border-radius: 6px;
}
.header-links .btn-carrinho:hover {
  opacity: 0.8;
}
.container {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding: 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.container-cadastro {
  flex: 1;
  min-width: 320px;
  box-shadow: 0px 0px 10px 2px var(--cor-borda);
  padding: 32px;
  box-sizing: border-box;
  height: fit-content;
}
.container-cadastro form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container-cadastro h2 {
  margin-top: 0;
}
.container-listagem {
  flex: 2;
  min-width: 300px  ;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.product-card {
  width: 300px;
  box-shadow: 0px 0px 10px 2px var(--cor-borda);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--cor-fundo-cartao);
}
.product-card img {
  margin-top: 15px;
  width: 100%;
  height: 250px;
  object-fit: contain;
  background-color: white;
  border-radius: 10px;
}
.product-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.product-card-content h3 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: 8px;
}
.product-card-content .preco {
  font-size: 1.15rem;
  font-weight: 700;
  color: var(--cor-sucesso);
  margin-bottom: 8px;
}
.product-card-content .descricao {
  font-size: 0.9rem;
  font-weight: 400;
  color: #666;
  flex-grow: 1;
  margin-bottom: 16px;
}
.product-card-buttons {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product-card-buttons .btn-excluir {
  background-color: var(--cor-perigo);
}