@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --cor-principal: #000000;
  --cor-texto-header: #FFFFFF;
  --cor-fundo: #FFFFFF;
  --cor-texto: #333333;
  --cor-borda: #f0f0f0;
  --cor-sombra: #53535352; 
  --cor-destaque: lightblue; 
  --cor-perigo: #dc3545;
  --cor-sucesso: green;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Manrope", sans-serif;
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  line-height: 1.5;
}
#root {
  min-height: 100vh;
}
button {
  font-family: "Manrope", sans-serif;
  padding: 11px 15px;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: var(--cor-principal);
  color: var(--cor-texto-header);
  transition: opacity 0.2s ease;
}
button:hover {
  opacity: 0.8;
}
input[type="text"],
input[type="password"],
input[type="number"] {
  padding: 10px 10px;
  border: 1px solid var(--cor-borda);
  outline: none;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
  outline: 1px solid var(--cor-destaque);
}